/* -------- WRAPPER ---------- */
.fantasy-page-bg {
  min-height: 100vh;
  width: 100%;
  
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0; 
}

.fantasy-main {
  width: 95%;          
  min-height: 50vh;    
  margin: 0 auto;
  display: block;
  padding-bottom: 40px;
}

.fantasy-wrapper {
  width: 100%;
  min-height: 50vh; 
  padding: 2rem;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.fantasy-wrapper h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.fantasy-bg {
          background: linear-gradient(to bottom, #1a1a1a 0%, #004d00 100%); 
          background-image: url('https://resources.premierleague.com/premierleague/photo/2020/08/11/55650e57-1935-4a40-b3be-f8d1900598e8/FPL-Statement-Lead.png');
          background-size: cover;
          
        }

/* -------- 3 TABLES ROW ---------- */
.fantasy-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;          
  margin-top: 30px;
  width: 95%;          
  min-height: 70vh;    
  margin: 0 auto;
}


/* -------- INDIVIDUAL TABLE BOX ---------- */
.fantasy-table {
  flex: 1;
  background: #2b2a2a;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
  border: 1px solid #ffd700;
  min-width: 320px;
}

.fantasy-table h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: #ffd700;
}


/* -------- TABLE STYLING ---------- */
table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 6px;    
}

thead th {
  text-align: center;
  padding: 10px 6px;
  color: #ffdd55;
  font-size: 0.95rem;
  border-bottom: 2px solid #333;
}

tbody tr {
  background: rgba(255, 255, 255, 0.06);
  transition: 0.2s;
}

tbody td{
  text-align: center;
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.12);
}

td {
  padding: 10px 6px;
  border-bottom: 1px solid #2d2d2d;
  font-size: 0.9rem;
}

td:not(:last-child),
th:not(:last-child) {
  border-right: 1px solid #333;
}


/* -------- REMOVE BUTTON ---------- */
.remove-btn {
  background: #ff4d4d;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.remove-btn:hover {
  background: #ff1f1f;
  transform: scale(1.05);
}


.points.high {
  color: #4CFF4C; 
  font-weight: bold;
}

.points.medium {
  color: #FFD700; 
  font-weight: bold;
}

.points.low {
  color: #FF5C5C; 
  font-weight: bold;
}

.power-score {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  color: #000;
}


.power-score.elite {
  background: linear-gradient(90deg, #ff4d4d, #ff9900);
  color: #fff;
}

.power-score.strong {
  background: #dcbf19;
  color: #000;
}

.power-score.average {
  background: #4cd9ff;
  color: #000;
}

.power-score.weak {
  background: #ff3c00;
  color: #fff;
}
